body {
    color: white;
    background-color: #800020;
    
}

nav {
    color: black;
}


p {
    font-family: 'Heidelberg';
    font-size: 150%;
}

b {
    font-family: 'Heidelberg', sans-serif;
    color: black;
    font-size: 150%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.image {
    padding: 25px 50px 75px 100px;
  }

  #humans { 
    background-color: yellow;
  }

  /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

